<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        {% for cart_item_form in cart_item_forms %}
            <li>
                <strong>Product Name:</strong> {{ cart_item_form.instance.product_name }} <br>
                <strong>Price:</strong> ${{ cart_item_form.instance.product_price }} <br>
                <strong>Quantity:</strong> {{ cart_item_form.instance.quantity }} <br>
            
                <a href="{% url 'home' %}">Save for Later</a> 
                
                <a href="{% url 'delete_from_cart' cart_item_form.instance.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>Your cart is empty</li>
        {% endfor %}
    </ul>
</body>
</html>
